main {
    background-color: rgb(160, 190, 208);
    display: grid;
    justify-items: center;
    align-items: center;
    height: 80vh;
}
.content {
    display: grid;
    justify-items: center;
    align-items: center;
}
#header {
    color: aliceblue;
    height: 200px;
    width: 200px;
    border-radius: 51%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.circle {
    background-color: rgb(9, 84, 104);
    
}
.circle-even {
    background-color: brown;
}
.circle-odd {
    background-color: rgb(42, 134, 165);
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    color: rgb(239, 242, 243);
    background-color: rgb(107, 109, 109);
    transform: scale(1.2deg);
    transition: .5s ease-out;
    height: 2.3rem;
    box-shadow: 2px 2px rgb(115, 113, 113);
}